.essence {
    height: 80vh;
    width: 100vw;
    background-color: #dce1de;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text-part {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-part {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-img-essence {
    height: 50%;
    width: 70%;
}

.title {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 90px;
    align-items: flex-start;
    
}

.title-2 {
    display: flex;
}

.text-blue {
    color: #006494;
}

.title-text {
    display: flex;
    font-size: 20px;
    width: 370px;
    font-weight: lighter;
}

.button {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #006494;
    width: 150px;
    border-radius: 3px;
    padding: 20px;
    margin-top: 50px;
    cursor: pointer;
}
