.footer {
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #006494;
}

.footer-content {
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer;
}

.footer-links {
    font-size: 27px;
    margin-bottom: 50px;
    cursor: pointer;
}
